@import "~taro-ui-vue3/dist/style/index.scss";
input {
  text-align: left;
}

input, h1, h2, h3, h4, h5, h6, textarea, span, div {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
@mixin font30Semi {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}
@mixin font30Medium {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
@mixin font30Regular {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}
@mixin font16Semi {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
@mixin font16Medium {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
@mixin font16Regular {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
@mixin font14Semi {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
@mixin font14Medium {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
@mixin font14Regular {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
@mixin font10Regular {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

$white: #FFFFFF;
$gray01: #F6F6F6;
$gray02: #E8E8E8;
$gray03: #BDBDBD;
$gray04: #666666;
$green01: #5DB075;
$green02: #4B9460;
$black: #000000;
